.navbar {
 border: solid 1px black;
 height: 80px;
 font-family: 'Open Sans', sans-serif;
 color: purple;
}

body {
    background-color: lightgrey !important;
}
.btn-grad {
    background-image: linear-gradient(to right, #A770EF 10%, #CF8BF3 51%, #A770EF 100%);
}
.btn-grad:hover { 
    background-position: right center;
 }

.jumbotron {
    background-image: url('https://dollarfootage.com/wp-content/uploads/2017/05/tetrahedron-particle-field-explosion-grey-gradient-bg-1-img.jpg');
    border: solid 1px black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.col-3, .text {
    color: purple;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    color: purple !important;
    font-family: 'Open Sans', sans-serif;
}


img {
    width: 100%;
}
@media (max-width: 640px) {
    .btn-grad {
        font-size: 80%;
    }
}